<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Daily Journal</title>
  </head>
  <body>
    <header>
      <nav class="wrapper">
        <div class="logo">
          <h1>
            <a href="/"> Hridoy Khandakar </a>
          </h1>
        </div>
        <div class="nav-links">
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
