<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Hridoy Khandakar Blog</title>
  </head>
  <body>
    <header>
      <nav class="navbar-menu">
        <!-- <div class="logo">
          <h1>Hridoy</h1>
        </div>
        <div class="nav-weapper">
          <ul class="nav__links">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </div> -->
        <button class="more nav--btn">
          <a style="color: #fff" href="/">Home</a>
        </button>
        <div>
          <h1>
            <a href="/" class="logo">Hridoy Khandakar Blog</a>
          </h1>
        </div>
        <button class="more nav--btn">
          <a style="color: #fff" href="/compose">Compose</a>
        </button>
      </nav>
    </header>
  </body>
</html>
