<%- include("./partials/header");-%>
<main class="main-form">
  <section class="form-title">
    <h3>Write a Post Here</h3>
  </section>

  <form action="/compose" class="form-control" method="post">
    <label for="title"> Title</label>
    <input
      class="post-title"
      type="text"
      name="title"
      placeholder="Post title"
    />
    <label for="postbody">Post</label>
    <textarea class="text-area" name="postbody" id="" cols="30" rows="10">
    </textarea>
    <button type="submit" class="btn more">Publish</button>
  </form>
</main>
<%- include("./partials/footer");-%>
