<%- include("./partials/header");-%>
<main class="wrapper">
  <div class="page-title">
    <h1><%= title %></h1>
  </div>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, nulla unde?
    Quas, numquam tenetur laudantium tempore voluptas eligendi sapiente alias.
  </p>
</main>

<%- include("./partials/footer");-%>
