<%- include("./partials/header");-%>
<main class="wrapper">
  <div class="post">
    <h1><%= fPost.title %></h1>
    <p><%= fPost.postbody %></p>
  </div>
</main>
<%- include("./partials/footer");-%>
