*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.5;
}
/* default end */

header {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 1rem 0;
  background: #354259;
  color: rgb(255, 255, 255);
}
/* .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}
.nav__links {
  display: flex;
  justify-content: space-evenly;
}
.nav__links li a {
  padding: 0.5rem 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  transition: ease-in 0.2s;
}
.nav__links li:hover a {
  color: rgba(255, 0, 98, 0.712);
  text-decoration: underline;
} */

.logo {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
}
.main-form {
  min-height: 100vh;
}
.main {
  display: grid;
  place-items: center;
  gap: 2rem 0;
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem 0;
  min-height: 100vh;
}

.blog {
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 0 2rem;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}

.title a {
  color: #374151;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.meta {
  white-space: nowrap;
  /* background: #f4f4; */
  height: 2rem;
}
.more {
  background: #ff0063;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  margin: 0.5rem 0;
}
.content {
  display: grid;
  gap: 1rem;
}

footer {
  text-align: center;
  background: #354259;
  color: #fff;
  padding: 1rem;
}

/* form design */
.form-control {
  /* background: rgb(129, 129, 129); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
  max-width: 500px;
  margin: 0 auto;
}
.form-title {
  text-align: center;
  padding: 2rem 0;
}

.post-title {
  width: 100%;
  padding: 0.5rem 1rem;
}
.text-area {
  width: 100%;
}
.btn {
  padding: 0.8rem 2rem;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.2s;
}
.btn:hover {
  background: #e41e6a;
}
.navbar-menu {
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.nav--btn {
  border: none;
}
.post-content {
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .blog {
    flex-direction: column;
    margin: 0 3rem;
    /* align-items: center; */
  }
  .blog .more {
    padding: 0.5rem;
    font-size: 14px;
  }
  .blog .meta {
    margin-top: 1rem;
  }
}
